<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Edit posts</title>
    <!-- css  -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gloria+Hallelujah&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Protest+Riot&family=Protest+Strike&family=Roboto+Slab:wght@100..900&display=swap');

        * {
            padding: 0;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: space-between;
        }

        .create {
            height: 100vh;
            width: 480px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 15px;
        }

        .create div input {
            width: 460px;
        }

        .create div {
            margin: 10px;
        }

        .create p {
            font-size: 35px;
        }

        .create button {
            font-size: 20px;
        }

        .funkyfont {
            font-family: "Gloria Hallelujah", cursive;
            font-weight: 400;
            font-style: normal;
        }

        .back {
            background-color: white;
            border: none;
        }

        .backward {
            padding: 20px 40px;
        }

        .delete {
            border: none;
            background-color: white;
        }

        .delete:hover {
            color: rgb(170, 15, 15);
        }

        .ddelete {
            visibility: hidden;
        }

        @media (max-width: 480px){
            .backward {
                display: none;
            }
            .mediachangeH {
                font-size: 20px !important;
            }
            .mediachange {
                font-size: 15px !important;
            }
            .editmedia {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .create {
                width: 100%;
                height: 460px;
            }
            #location {
                width: 310px;
            }
            #caption {
                width: 310px;
            }
            .ddelete {
                visibility: visible;
            }
            
        }

    </style>

</head>
<body>
        <div class="backward">
            <form method="get" action="/posts">
                <button class="delete"><i class="fa-solid fa-left-long fa-shake fa-2xl"></i></button>
            </form>
        </div>

        <div class="editmedia">
            <div>
                <form method="post" action="/posts/<%=uploads._id%>?_method=PUT">
                
                    <div class="create">
                        <p class="funkyfont mediachangeH">Edit Post <i class="fa-solid fa-pencil"></i></p>
        
                        <div>
                            <label for="caption" class="form-label funkyfont"><b> Caption 💬</b></label>
                            <textarea name="caption" id="caption" cols="60" rows="5" class="form-control"><%=uploads.caption%></textarea>
                        </div>
                        
                        <div>
                            <label for="location" class="form-label funkyfont"><b>location 📍</b></label>
                            <input type="text" id="location" class="form-control" name="location" value="<%=uploads.location%>">
                        </div>
        
                        <button class="btn btn-info funkyfont mediachange">Post</button>
                    </div>
                </form>
            </div>
    
            <div class="ddelete">
                <form action="/posts/<%=uploads._id%>?_method=Delete" method="post">
                    <button class="btn btn-info funkyfont mediachange">Delete</button>
                </form>
            </div>
        </div>
        

        <div class="backward">
            <form action="/posts/<%=uploads._id%>?_method=Delete" method="post">
                <button class="delete"><i class="fa-solid fa-trash-can fa-beat-fade fa-2xl"></i></button>
            </form>
        </div>
</body>
</html>